.header {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: url('../../assets/footer.png');
  background-size: 100%;
}

.home,
.tech,
.about {
  font-family: 'Monoton', cursive;
  font-size: 2em;
  color: #b96619;
}
