.header {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: url('../../assets/footer.png');
  background-size: 100%;
}

.tech,
.about,
.resume,
.project,
.home {
  font-family: 'Monoton', cursive;
  font-size: 1.8em;
  color: #b96619;
}

.header-link {
  color: #bc3a41;
}

.header::before {
  color: #bc3a41 !important;
}
