.img {
  height: 50vh;
  width: 60vh;
  border-radius: 40%;
  border-color: #c8691c;
  border-style: groove;
  float: left;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #f4a261;
}

.aboutbio {
  font-family: 'Roboto Serif', serif;
  line-height: 1.5em;
  width: 70vw;
  padding: 50px 10px 10px 10px;
  line-height: 25px;
  background-color: #c27731;
  color: rgb(101, 100, 100);
  margin: 20px 20px 40px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 5px #78380c;
  text-align: center;
  color: white;
}

.book {
  width: 190px;
  border-color: #c8691c;
  border-style: groove;
}

.spotify {
  border-color: #c8691c;
  border-style: groove;
  width: 300px;
}
