.selfie {
  height: 50vh;
  width: 60vh;
  border-radius: 40%;
  border-color: #c8691c;
  border-style: groove;
}

.about {
  /* display: grid;
  grid-column: 1;
  grid-row: 3; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #f4a261;
}

.aboutbio {
  font-family: 'Roboto Serif', serif;
  line-height: 1.5em;
  width: 70vw;
  padding: 50px 10px 10px 10px;
  line-height: 25px;
  background-color: #c27731;
  color: rgb(101, 100, 100);
  margin: 20px 20px 40px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 5px #78380c;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.book {
  width: 300px;
  border-color: #c8691c;
  border-style: groove;
  height: 450px;
}

.spotify {
  border-color: #c8691c;
  border-style: groove;
  width: 300px;
}

.grid2 {
  /* display: grid;
  grid-column: 1;
  grid-row: 2;
  grid-column-gap: 50px;
  row-gap: 50px; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 20vw;
  color: rgb(101, 100, 100);
  margin: 20px 20px 40px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 5px #78380c;
  text-align: center;
  padding: 10px;
  width: 305px;
}

.grid3 {
  /* display: grid;
  grid-column: 2;
  grid-row: 2; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(101, 100, 100);
  margin: 20px 20px 40px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 5px #78380c;
  text-align: center;
  padding: 10px;
  width: 305px;
}

/* .pups {
  display: grid;
  grid-column: 1;
  grid-row: 3;
  width: 50vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(101, 100, 100);
  margin: 20px 20px 40px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 5px #78380c;
  text-align: center;
  padding: 10px;
  width: 305px;
} */

.dogs {
  width: 300px;
  border-color: #c8691c;
  border-style: groove;
  height: 450px;
}

.fun {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.read {
  display: flex;
  flex-direction: row;
  width: 75vw;
  justify-content: space-evenly;
}
