@media only screen and (min-width: 701px) {
  .ryssa {
    width: 40vw;
    justify-content: center;
    align-items: center;
    float: left;
    border-color: #c8691c;
    border-style: groove;
    padding: 6px;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bio {
    padding: 10px;
    font-size: 1.3em;
    text-align: center;
    width: 60vw;
    font-family: 'Roboto Serif', serif;
    line-height: 1.8em;
    width: 70vw;
    background-color: #c27731;
    color: rgb(101, 100, 100);
    margin: 20px 20px 40px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 5px 5px #78380c;
    text-align: center;
    color: white;
    margin-bottom: 30px;
  }

  .coding {
    width: 20vw;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding-top: 0%;
  }
}

/* Small devices (phones, <= 700px) */
@media only screen and (max-width: 700px) {
  img {
    width: 70vw;
    justify-content: center;
    align-items: center;
    border-color: #c8691c;
    border-style: groove;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bio {
    padding: 10px;
    font-size: 1em;
    text-align: center;
    width: 80vw;
    font-family: 'Roboto Serif', serif;
    line-height: 1.7em;
    background-color: #c27731;
    color: rgb(101, 100, 100);
    margin: 20px 20px 40px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 5px 5px #78380c;
    text-align: center;
    color: white;
    margin-bottom: 30px;
  }
}
