img {
  width: 40vw;
  justify-content: center;
  align-items: center;
  float: left;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio {
  padding: 10px;
  line-height: 1.5em;
  font-size: 1.25em;
  text-align: center;
  margin: 10px 10px 25px 10px;
  width: 60vw;
  font-family: 'Roboto Serif', serif;
}
